.food-image img {
    width: 300px;
    height: 300px;
}
.food-image{
    margin-right: 30px;
}
.food-container{
    display: flex;
    margin-bottom: 20px;
    border: 5px solid gray;
    padding: 10px;
}